.about {
    display: flex;
    justify-content: space-between;

    &__textbox {
        flex: 0 0 50%;

        &__heading {
            color: $dark-blue;
            padding-bottom: 20px;
        }

        &__subheading {
            //color:  hsl(227, 12%, 61%);
            //-height: 20px;
           // font-weight: 400;
            //font-size: 15px;
        }
    }

    &__card__container {
        flex: 0 0 42%;
        
        .about__card {
            margin-bottom: 50px;
            &:last-of-type { margin-bottom: 0 }

            &__number {
                margin-right: 20px;
                background-color: $orange;
                color: white;
                border-radius: 50px;
                padding: 2px 15px 5px;
                font-weight: 700;                
            }

            &__heading {
                //margin: 0 50px 0 0;
                //border: 1px solid green;
            }

            &__subheading {
                margin: 15px 0 0 70px;
            }
        }
    }
}