.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 90px;
    
    &__links {
        width: 450px;
        
        .links__list {
            display: flex;
            justify-content: space-between;

            &__item {
                font-size: 14px;
                &:nth-of-type(1), &:nth-of-type(7) {
                    display: none;
                }

                &:hover {
                    color: $grayish-blue;
                }
            }
        }

        @media screen and (max-width: 900px) {
            width: 330px;

            .links__list__item {
                font-size: 12px;
            }
        }
    }
}