.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 90px;
    
    &__links {
        width: 450px;
        
        .links__list {
            display: flex;
            justify-content: space-between;

            &__item {
                font-size: 14px;
                &:nth-of-type(1), &:nth-of-type(7) {
                    display: none;
                }

                &:hover {
                    color: $grayish-blue;
                }
            }
        }

        @media screen and (max-width: 900px) {
            width: 330px;

            .links__list__item {
                font-size: 12px;
            }
        }
    }

    &__mobile {
        display: none;
    }

    .overlay {
        display: flex;
        position: absolute;
        transition-delay: 400ms;
        background-color: rgba(black, .35);
        opacity: 0;
        z-index: 2;
    }

    &__mobile__btn {
        display: none;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        overflow: hidden;
        height: 45px; width: 45px;
        border-radius: 50%;

        & > * {
            padding: 20px;
        }

        .close { display: none }

        &:hover {
            background-color: lightgrey;
        }
    }

    @media screen and (max-width: 767px) {
        &__links, .btn { display: none }

        &.fixed {  
            position: fixed;
            width: 100%;
        }

        &__mobile { 
            display: flex;
            position: fixed;
            top: 80px; left: 25px;
            padding: 35px 20px;
            background-color: white;
            border-radius: 5px;
            width: calc(100% - 50px);
            transform: translateY(calc(-100% - 100px));
            transition: .6s;
            transition-delay: 450ms;
            box-shadow: 0px 2px 4px 1px rgba(black, .15);
            z-index: 3;

            .links__list {
                margin: auto;
                text-align: center;
                line-height: 30px;
                font-weight: 700;
    
                &__item {
                    font-size: 14px;
                    &:nth-of-type(1), &:nth-of-type(7) {
                        display: none;
                    }
    
                    &:hover {
                        color: $grayish-blue;
                    }
                }
            }

            &.deployed {
                transition-delay: 0ms;
                transform: translateY(0);
            }
        }

        &__mobile__btn {
            display: flex;

            .close {
                &.spin {
                    transform: rotate(360deg);
                    transition: .85s;
                }
            }

            &.change {
                .open { display: none }
                .close { display: block }
            }
        }

        .overlay.active {
            width: calc(100% + 16vw); height: 1000vh;
            top: 100%; left: -8vw;
            opacity: 1;
        }
    }
}