.testimonial__section {   
    margin: 125px 0 150px;
     
    &__heading { text-align: center }

    .swiper-container {
        margin: 50px 0;

        .swiper-pagination { display: none }

        .swiper-slide {
            background-color: $light-gray;
            border-radius: 5px;
            padding: 0 15px;
            margin-top: 45px;

            .slider__card {          
                margin-bottom: 10px;
                height: 260px;    
                        
                &__image__container {
                    display: block;
                    width: min-content;
                    margin: -45px auto 0;

                    img {
                        height: 90px; 
                        width: 90px;
                    }
                }

                &__textbox {
                    text-align: center;

                    &__name {
                        margin: 10px 0 20px;
                    }

                    &__testimonial {
                        font-size: .95em;
                    }
                }
            }
        }
    }

    .btn--orange {
        display: block;
        margin: 0 auto;
    }
}
